# simulaciones verilog
*.vcd
# ejecutables
*.exe

# objetos compilados
*.o
*.obj

# simulaciones
*.vcd
*.out
*.vvp

# carpetas build
bin/
tmp/
Debug/
Release/
build/
x64/

# temporales
*.log

# ===== Forzar detección correcta de lenguajes =====

*.sql linguist-language=SQL
*.v linguist-language=Verilog
*.vh linguist-language=Verilog
*.hpp linguist-language=C++
*.cpp linguist-language=C++
*.h linguist-language=C++
*.asm linguist-language=assembler
