
#------ User LEDs
set_io --warn-no-port count[2] 4  #-- output
set_io --warn-no-port count[1] 3  #-- output
set_io --warn-no-port count[0] 2  #-- output
#set_io --warn-no-port LED0 1  #-- output


#Mis entradas del .v
set_io --warn-no-port a 34  #-- input
set_io --warn-no-port b 33  #-- input
#set_io --warn-no-port C 32  #-- input
set_io --warn-no-port reset 31  #-- input


